body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00004d;
}

header {
    position: fixed;
    top: 0px;
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    background-color: #3399ff;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
}

footer {
    position: fixed;
    bottom:0px;
    color: #ffffff;
    background-color: #3399ff;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    text-align: center;
}

.div-header {
    padding-top: 100px;
    color: #ffffff;
}

.div-body {
    padding-top: 25px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffce00;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 1.3rem 0;
    line-height: 1.3;
}

h1, h2 {
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   color: #fff;
  }

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.p0 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    margin: 1.3rem 0;
}

.desc {
    font-size: 1.5rem;
    margin: 1.3rem 0;
    color: #ffffff;
}

main {
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
}

section {
    padding-bottom: 50px;
}

table
{
    border-collapse:collapse;
    color: #FFFFFF;
    padding-left: 50px;
    width: 1000px;
}

table th
{
    background-color: #302F34;
    font-weight: bold;    
}

table th, table td
{
    padding: 5px;
}

table tr:nth-child(even) {
    background: #17059C
}

table tr:nth-child(odd) {
    background: #00004d
}

img {
    width:177px;
    height: 177px;
}

.head-user {
    text-transform: uppercase;
    color: #ffffff;
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
}

.div-user {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}